In [1]:
%pip install duckdb pandas matplotlib numpy

Collecting duckdb
  Downloading duckdb-1.4.2-cp310-cp310-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl (20.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.5/20.5 MB 2.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
Collecting matplotlib
  Using cached matplotlib-3.10.7-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
Collecting numpy
  Using cached numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.10/site-packages (from matplotlib) (25.0)
Collecting pillow>=8
  Using cached pillow-12.0.0-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (7.0 MB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (325 kB)
Collecting pyparsing>=3
  Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.60.1-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.8 MB)
Collecting kiwisolver>=1.3.1
  Using cached kiwisolver-1.4.9-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, duckdb, cycler, pandas, contourpy, matplotlib
Successfully installed contourpy-1.3.2 cycler-0.12.1 duckdb-1.4.2 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 numpy-2.2.6 pandas-2.3.3 pillow-12.0.0 pyparsing-3.2.5 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import duckdb
import pandas as pd

con = duckdb.connect('mobility.duckdb')


def SQL(q):
    """Run SQL (printed for clarity) and return a DataFrame."""
    # print("\nSQL>\n" + textwrap.dedent(q).strip())
    return con.execute(q).fetchdf()


print("DuckDB version:", con.sql("SELECT version();").fetchone()[0])

DuckDB version: v1.4.2

In [11]:
SQL("""
    SELECT count(*)
    FROM '20230701_Viajes_distritos.csv'
    GROUP BY ALL
""")

   count_star()
0      18559829

In [33]:
SQL("""
    SELECT
        * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
        CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
        CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
    FROM read_csv_auto(
        '20230701_Viajes_distritos.csv',
        types = {
            'estudio_destino_posible' : 'VARCHAR',
            'estudio_origen_posible'  : 'VARCHAR'
        }
    )
    USING SAMPLE 0.001 % (BERNOULLI);
""")

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,07,0309908,03058,2-10,frecuente,casa,03,<10,NA,NA,5.958,25.842,False,False
1,20230701,13,0313303,0313302,2-10,frecuente,casa,03,<10,65-100,mujer,12.300,42.325,False,False
2,20230701,23,07003,07042,2-10,frecuente,casa,07,10-15,45-65,hombre,10.363,74.705,False,False
3,20230701,11,0801908,0801507,2-10,frecuente,casa,08,10-15,45-65,hombre,4.042,20.206,False,False
4,20230701,00,0801906,0801907,0.5-2,frecuente,casa,08,>15,0-25,hombre,22.165,21.008,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,20230701,10,1913002,1913003,0.5-2,frecuente,trabajo_estudio,19,10-15,NA,NA,8.060,7.622,False,False
173,20230701,16,3205403,3205403,0.5-2,frecuente,trabajo_estudio,32,>15,45-65,mujer,3.840,5.268,False,False
174,20230701,08,46251_AM,46217_AM,2-10,frecuente,trabajo_estudio,46,10-15,NA,NA,2.496,16.389,False,False
175,20230701,19,4625008,4625003,2-10,frecuente,trabajo_estudio,46,10-15,NA,NA,7.840,18.351,False,False
176,20230701,23,1402109,1402110,2-10,no_frecuente,trabajo_estudio,14,<10,65-100,hombre,2.262,18.406,False,False

In [37]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_distritos.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_distritos.parquet' (FORMAT PARQUET);
""")

In [42]:
SQL("""
    -- Para poder ver los distintos tipos de valores de la columna estudio_destino_posible
    SELECT estudio_destino_posible, COUNT(*) AS total_rows,
     FROM read_csv_auto(
        'csvs/20230701_Viajes_GAU.csv',
        types = {'estudio_destino_posible': 'VARCHAR'}
    )
    GROUP BY estudio_destino_posible
    USING SAMPLE 0.01 % (BERNOULLI);
""")

  estudio_destino_posible  total_rows
0                      si           8
1                      no         781

In [43]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_GAU.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_GAU.parquet' (FORMAT PARQUET);
""")

In [45]:
SQL("""
SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_municipios.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
""")

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,00,03048,03018,2-10,no_frecuente,casa,03,10-15,NA,NA,3.337,26.994,False,False
1,20230701,00,04044_AM,04006,10-50,frecuente,trabajo_estudio,04,<10,45-65,NA,9.846,118.369,False,False
2,20230701,00,05019,05019,2-10,casa,frecuente,05,10-15,0-25,hombre,26.954,69.231,False,False
3,20230701,00,06011,06149,10-50,no_frecuente,casa,06,<10,0-25,NA,4.929,68.861,False,False
4,20230701,00,06903_AM,06903_AM,2-10,frecuente,frecuente,06,<10,45-65,NA,2.480,13.986,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,20230701,23,46094,46250,2-10,no_frecuente,casa,46,10-15,25-45,mujer,3.797,28.254,False,False
1186,20230701,23,46202,46147,2-10,frecuente,no_frecuente,46,10-15,45-65,hombre,2.630,9.759,False,False
1187,20230701,23,48015,48020,0.5-2,trabajo_estudio,casa,48,10-15,45-65,hombre,6.448,10.945,False,False
1188,20230701,23,48026_AM,48027,10-50,no_frecuente,casa,48,10-15,45-65,NA,2.564,39.799,False,False
1189,20230701,23,50062_AM,50208_AM,10-50,frecuente,casa,50,10-15,NA,NA,5.262,107.986,False,False

In [44]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_municipios.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_municipios.parquet' (FORMAT PARQUET);
""")

In [48]:
df = duckdb.read_parquet('parquet/20230701_Viajes_municipios.parquet')
df.fetchdf()

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,00,02003,02003,0.5-2,frecuente,casa,02,>15,65-100,mujer,25.500,27.513,False,False
1,20230701,00,03015,03034_AM,2-10,trabajo_estudio,no_frecuente,30,10-15,0-25,mujer,5.796,31.411,False,False
2,20230701,00,03031,03031,0.5-2,no_frecuente,no_frecuente,46,10-15,0-25,hombre,11.678,12.305,False,False
3,20230701,00,03093,03093,0.5-2,frecuente,no_frecuente,03,10-15,NA,NA,2.192,2.505,False,False
4,20230701,00,04013,04013,2-10,frecuente,frecuente,04,<10,65-100,hombre,2.796,10.988,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,20230701,23,48001_AM,48027,2-10,frecuente,casa,48,10-15,NA,NA,2.553,6.750,False,False
1210,20230701,23,48040_AM,48069,2-10,frecuente,frecuente,48,>15,NA,NA,5.022,20.272,False,False
1211,20230701,23,50153_AM,50160,10-50,trabajo_estudio,casa,50,10-15,NA,NA,3.900,49.709,False,False
1212,20230701,23,50297,50297,0.5-2,casa,trabajo_estudio,50,>15,0-25,mujer,10.390,13.586,False,False
1213,20230701,23,50297,50297,2-10,frecuente,frecuente,50,10-15,25-45,mujer,98.504,374.298,False,False

In [ ]:
# 20230701_Personas_dia_distritos.csv
SQL("""
    SELECT
        * EXCLUDE (personas),
        CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
    FROM read_csv_auto(
        'csvs/20230701_Personas_dia_distritos.csv',
        delim = '|',
        columns = {
            'fecha': 'VARCHAR',
            'zona_pernoctacion': 'VARCHAR',
            'edad': 'VARCHAR',
            'sexo': 'VARCHAR',
            'numero_viajes': 'VARCHAR',
            'personas': 'VARCHAR'
        }
    ) AS cols;
""")

           fecha zona_pernoctacion    edad    sexo numero_viajes  personas
0       20230701             01001    0-25  hombre             0    158595
1       20230701             01001    0-25  hombre             1     11260
2       20230701             01001    0-25  hombre             2     80602
3       20230701             01001    0-25  hombre            2+    192506
4       20230701             01001    0-25   mujer             0     46601
...          ...               ...     ...     ...           ...       ...
119123  20230701           5200108  65-100  hombre            2+    783988
119124  20230701           5200108  65-100   mujer             0    538812
119125  20230701           5200108  65-100   mujer             1    125366
119126  20230701           5200108  65-100   mujer             2    333999
119127  20230701           5200108  65-100   mujer            2+    966460

[119128 rows x 6 columns]