In [1]:
%pip install duckdb pandas matplotlib numpy

Collecting duckdb
  Downloading duckdb-1.4.2-cp310-cp310-manylinux_2_26_x86_64.manylinux_2_28_x86_64.whl (20.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.5/20.5 MB 2.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
Collecting matplotlib
  Using cached matplotlib-3.10.7-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
Collecting numpy
  Using cached numpy-2.2.6-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.8 MB)
Collecting tzdata>=2022.7
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Collecting cycler>=0.10
  Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.10/site-packages (from matplotlib) (25.0)
Collecting pillow>=8
  Using cached pillow-12.0.0-cp310-cp310-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (7.0 MB)
Collecting contourpy>=1.0.1
  Using cached contourpy-1.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (325 kB)
Collecting pyparsing>=3
  Using cached pyparsing-3.2.5-py3-none-any.whl (113 kB)
Collecting fonttools>=4.22.0
  Using cached fonttools-4.60.1-cp310-cp310-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.8 MB)
Collecting kiwisolver>=1.3.1
  Using cached kiwisolver-1.4.9-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, pyparsing, pillow, numpy, kiwisolver, fonttools, duckdb, cycler, pandas, contourpy, matplotlib
Successfully installed contourpy-1.3.2 cycler-0.12.1 duckdb-1.4.2 fonttools-4.60.1 kiwisolver-1.4.9 matplotlib-3.10.7 numpy-2.2.6 pandas-2.3.3 pillow-12.0.0 pyparsing-3.2.5 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import duckdb
import pandas as pd

con = duckdb.connect('mobility.duckdb')


def SQL(q):
    """Run SQL (printed for clarity) and return a DataFrame."""
    # print("\nSQL>\n" + textwrap.dedent(q).strip())
    return con.execute(q).fetchdf()


print("DuckDB version:", con.sql("SELECT version();").fetchone()[0])

DuckDB version: v1.4.2

In [11]:
SQL("""
    SELECT count(*)
    FROM '20230701_Viajes_distritos.csv'
    GROUP BY ALL
""")

   count_star()
0      18559829

In [33]:
SQL("""
    SELECT
        * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
        CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
        CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
    FROM read_csv_auto(
        '20230701_Viajes_distritos.csv',
        types = {
            'estudio_destino_posible' : 'VARCHAR',
            'estudio_origen_posible'  : 'VARCHAR'
        }
    )
    USING SAMPLE 0.001 % (BERNOULLI);
""")

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,07,0309908,03058,2-10,frecuente,casa,03,<10,NA,NA,5.958,25.842,False,False
1,20230701,13,0313303,0313302,2-10,frecuente,casa,03,<10,65-100,mujer,12.300,42.325,False,False
2,20230701,23,07003,07042,2-10,frecuente,casa,07,10-15,45-65,hombre,10.363,74.705,False,False
3,20230701,11,0801908,0801507,2-10,frecuente,casa,08,10-15,45-65,hombre,4.042,20.206,False,False
4,20230701,00,0801906,0801907,0.5-2,frecuente,casa,08,>15,0-25,hombre,22.165,21.008,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,20230701,10,1913002,1913003,0.5-2,frecuente,trabajo_estudio,19,10-15,NA,NA,8.060,7.622,False,False
173,20230701,16,3205403,3205403,0.5-2,frecuente,trabajo_estudio,32,>15,45-65,mujer,3.840,5.268,False,False
174,20230701,08,46251_AM,46217_AM,2-10,frecuente,trabajo_estudio,46,10-15,NA,NA,2.496,16.389,False,False
175,20230701,19,4625008,4625003,2-10,frecuente,trabajo_estudio,46,10-15,NA,NA,7.840,18.351,False,False
176,20230701,23,1402109,1402110,2-10,no_frecuente,trabajo_estudio,14,<10,65-100,hombre,2.262,18.406,False,False

In [37]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_distritos.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_distritos.parquet' (FORMAT PARQUET);
""")

In [42]:
SQL("""
    -- Para poder ver los distintos tipos de valores de la columna estudio_destino_posible
    SELECT estudio_destino_posible, COUNT(*) AS total_rows,
     FROM read_csv_auto(
        'csvs/20230701_Viajes_GAU.csv',
        types = {'estudio_destino_posible': 'VARCHAR'}
    )
    GROUP BY estudio_destino_posible
    USING SAMPLE 0.01 % (BERNOULLI);
""")

  estudio_destino_posible  total_rows
0                      si           8
1                      no         781

In [43]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_GAU.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_GAU.parquet' (FORMAT PARQUET);
""")

In [45]:
SQL("""
SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_municipios.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
""")

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,00,03048,03018,2-10,no_frecuente,casa,03,10-15,NA,NA,3.337,26.994,False,False
1,20230701,00,04044_AM,04006,10-50,frecuente,trabajo_estudio,04,<10,45-65,NA,9.846,118.369,False,False
2,20230701,00,05019,05019,2-10,casa,frecuente,05,10-15,0-25,hombre,26.954,69.231,False,False
3,20230701,00,06011,06149,10-50,no_frecuente,casa,06,<10,0-25,NA,4.929,68.861,False,False
4,20230701,00,06903_AM,06903_AM,2-10,frecuente,frecuente,06,<10,45-65,NA,2.480,13.986,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185,20230701,23,46094,46250,2-10,no_frecuente,casa,46,10-15,25-45,mujer,3.797,28.254,False,False
1186,20230701,23,46202,46147,2-10,frecuente,no_frecuente,46,10-15,45-65,hombre,2.630,9.759,False,False
1187,20230701,23,48015,48020,0.5-2,trabajo_estudio,casa,48,10-15,45-65,hombre,6.448,10.945,False,False
1188,20230701,23,48026_AM,48027,10-50,no_frecuente,casa,48,10-15,45-65,NA,2.564,39.799,False,False
1189,20230701,23,50062_AM,50208_AM,10-50,frecuente,casa,50,10-15,NA,NA,5.262,107.986,False,False

In [44]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (estudio_destino_posible, estudio_origen_posible),
            CASE estudio_destino_posible WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_destino_posible,
            CASE estudio_origen_posible  WHEN 'si' THEN TRUE ELSE FALSE END AS estudio_origen_posible
        FROM read_csv_auto(
            'csvs/20230701_Viajes_municipios.csv',
            types = {
                'estudio_destino_posible' : 'VARCHAR',
                'estudio_origen_posible'  : 'VARCHAR'
            }
        )
        USING SAMPLE 0.01 % (BERNOULLI)
    ) TO 'parquet/20230701_Viajes_municipios.parquet' (FORMAT PARQUET);
""")

In [48]:
df = duckdb.read_parquet('parquet/20230701_Viajes_municipios.parquet')
df.fetchdf()

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,residencia,renta,edad,sexo,viajes,viajes_km,estudio_destino_posible,estudio_origen_posible
0,20230701,00,02003,02003,0.5-2,frecuente,casa,02,>15,65-100,mujer,25.500,27.513,False,False
1,20230701,00,03015,03034_AM,2-10,trabajo_estudio,no_frecuente,30,10-15,0-25,mujer,5.796,31.411,False,False
2,20230701,00,03031,03031,0.5-2,no_frecuente,no_frecuente,46,10-15,0-25,hombre,11.678,12.305,False,False
3,20230701,00,03093,03093,0.5-2,frecuente,no_frecuente,03,10-15,NA,NA,2.192,2.505,False,False
4,20230701,00,04013,04013,2-10,frecuente,frecuente,04,<10,65-100,hombre,2.796,10.988,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,20230701,23,48001_AM,48027,2-10,frecuente,casa,48,10-15,NA,NA,2.553,6.750,False,False
1210,20230701,23,48040_AM,48069,2-10,frecuente,frecuente,48,>15,NA,NA,5.022,20.272,False,False
1211,20230701,23,50153_AM,50160,10-50,trabajo_estudio,casa,50,10-15,NA,NA,3.900,49.709,False,False
1212,20230701,23,50297,50297,0.5-2,casa,trabajo_estudio,50,>15,0-25,mujer,10.390,13.586,False,False
1213,20230701,23,50297,50297,2-10,frecuente,frecuente,50,10-15,25-45,mujer,98.504,374.298,False,False

In [58]:
# 20230701_Personas_dia_distritos.csv
SQL("""
    SELECT
        * EXCLUDE (personas),
        CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
    FROM read_csv_auto(
        'csvs/20230701_Personas_dia_distritos.csv',
        delim = '|',
        columns = {
            'fecha': 'VARCHAR',
            'zona_pernoctacion': 'VARCHAR',
            'edad': 'VARCHAR',
            'sexo': 'VARCHAR',
            'numero_viajes': 'VARCHAR',
            'personas': 'VARCHAR'
        }
    ) AS cols
    USING SAMPLE 0.1 % (BERNOULLI)
""")

        fecha zona_pernoctacion    edad    sexo numero_viajes  personas
0    20230701           0300905   45-65   mujer            2+    611636
1    20230701           0305001    0-25  hombre             0    683123
2    20230701           0305902  65-100   mujer            2+    206203
3    20230701           0306505  65-100  hombre            2+   1102457
4    20230701           0308202    0-25   mujer             0    131124
..        ...               ...     ...     ...           ...       ...
128  20230701           4805401   25-45  hombre             2    293223
129  20230701          48068_AM   45-65   mujer             2    244495
130  20230701             49127  65-100  hombre             1     17135
131  20230701          50209_AM  65-100   mujer             1     31511
132  20230701           5029712  65-100   mujer             0    769763

[133 rows x 6 columns]

In [59]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (personas),
            CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
        FROM read_csv_auto(
            'csvs/20230701_Personas_dia_distritos.csv',
            delim = '|',
            columns = {
                'fecha': 'VARCHAR',
                'zona_pernoctacion': 'VARCHAR',
                'edad': 'VARCHAR',
                'sexo': 'VARCHAR',
                'numero_viajes': 'VARCHAR',
                'personas': 'VARCHAR'
            }
        ) AS cols
        USING SAMPLE 0.1 % (BERNOULLI)
    ) TO 'parquet/20230701_Personas_dia_distritos.parquet' (FORMAT PARQUET);
""")

In [61]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (personas),
            CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
        FROM read_csv_auto(
            'csvs/20230701_Personas_dia_municipios.csv',
            delim = '|',
            columns = {
                'fecha': 'VARCHAR',
                'zona_pernoctacion': 'VARCHAR',
                'edad': 'VARCHAR',
                'sexo': 'VARCHAR',
                'numero_viajes': 'VARCHAR',
                'personas': 'VARCHAR'
            }
        ) AS cols
        USING SAMPLE 0.1 % (BERNOULLI)
    ) TO 'parquet/20230701_Personas_dia_municipios.parquet' (FORMAT PARQUET);
""")

In [62]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (personas),
            CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
        FROM read_csv_auto(
            'csvs/20230701_Personas_dia_GAU.csv',
            delim = '|',
            columns = {
                'fecha': 'VARCHAR',
                'zona_pernoctacion': 'VARCHAR',
                'edad': 'VARCHAR',
                'sexo': 'VARCHAR',
                'numero_viajes': 'VARCHAR',
                'personas': 'VARCHAR'
            }
        ) AS cols
        USING SAMPLE 0.1 % (BERNOULLI)
    ) TO 'parquet/20230701_Personas_dia_GAU.parquet' (FORMAT PARQUET);
""")

In [63]:
df = duckdb.read_parquet('parquet/20230701_Personas_dia_GAU.parquet')
df.fetchdf()

       fecha        zona_pernoctacion    edad    sexo numero_viajes  personas
0   20230701                    03012  65-100   mujer             1     40822
1   20230701                 03034_AM  65-100  hombre            2+    308459
2   20230701                    03101    0-25  hombre             2    172191
3   20230701                    04075   25-45   mujer             1    159565
4   20230701                    08143   25-45   mujer             2     99538
5   20230701                    11002   25-45   mujer             2     14071
6   20230701                 12072_AM  65-100  hombre             1     29917
7   20230701                 12128_AM   25-45  hombre             2    135684
8   20230701                 12129_AM  65-100  hombre            2+     97958
9   20230701                    13005   25-45  hombre            2+   1795013
10  20230701                    13013   45-65  hombre             2    291324
11  20230701                    13039   25-45   mujer             2    585651
12  20230701                    14012  65-100  hombre             1     39097
13  20230701                    14014   25-45   mujer             0    199871
14  20230701                 14043_AM   45-65  hombre             2    334241
15  20230701                    14052   45-65   mujer             1    180359
16  20230701                    15068    0-25  hombre             1     48806
17  20230701                    15076   45-65   mujer             0     10663
18  20230701                    16134   45-65  hombre             0    375372
19  20230701                    16203    0-25   mujer             0    611463
20  20230701                    17117   25-45  hombre             0   1103588
21  20230701                 17120_AM   25-45   mujer             0      1382
22  20230701                 17148_AM   25-45  hombre             1     40355
23  20230701                 18137_AM   45-65   mujer             1      4467
24  20230701                    20029   45-65  hombre             1     59499
25  20230701                    20061    0-25   mujer             0    240957
26  20230701                    21042  65-100  hombre             0    988236
27  20230701                    22199    0-25   mujer             0    365512
28  20230701                 24088_AM   45-65   mujer             1     97554
29  20230701                    24209    0-25   mujer            2+     70626
30  20230701                    25050    0-25   mujer            2+    137879
31  20230701                 25232_AM  65-100   mujer             0    140852
32  20230701                    27050    0-25   mujer             1     29785
33  20230701                 30039_AM  65-100  hombre             1    176267
34  20230701                 31108_AM   25-45  hombre             2    122882
35  20230701                 34171_AM   45-65  hombre             1    110225
36  20230701                    36036    0-25  hombre             0     11231
37  20230701                    36054   45-65  hombre            2+   1140306
38  20230701                    39012  65-100  hombre             2    179862
39  20230701                 41048_AM   25-45  hombre            2+    137535
40  20230701                    41050    0-25  hombre             0    367742
41  20230701                    41072   25-45   mujer             1     47927
42  20230701                 43126_AM   45-65   mujer            2+    740508
43  20230701                    43904   45-65  hombre             1     32049
44  20230701                 44155_AM   25-45  hombre             1     43317
45  20230701                    46077    0-25  hombre             2    292903
46  20230701                    46147   25-45   mujer             0    774556
47  20230701                    46184   25-45   mujer             0      8316
48  20230701                 46251_AM   45-65  hombre            2+    294668
49  20230701                 47086_AM    0-25  hombre             2     88635
50  20230701                 48095_AM   25-45  hombre             2    136008
51  20230701                 49065_AM    0-25  hombre             2     95867
52  20230701                 49187_AM  65-100  hombre             1     38925
53  20230701                 50057_AM  65-100   mujer             1     33034
54  20230701                 50068_AM  65-100  hombre             2     83584
55  20230701                 50165_AM  65-100  hombre             2    126927
56  20230701                 50204_AM   25-45   mujer             2     73975
57  20230701  GAU Valle de la Orotava   25-45  hombre            2+   9138552

In [ ]:
# 20230701_Pernoctaciones_distritos.csv
SQL("""
    SELECT
        * EXCLUDE (personas),
        CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
    FROM read_csv_auto(
        'csvs/20230701_Pernoctaciones_distritos.csv',
        delim = '|',
        columns = {
            'fecha': 'VARCHAR',
            'zona_residencia': 'VARCHAR',
            'zona_pernoctacion': 'VARCHAR',
            'personas': 'VARCHAR'
        }
    ) AS cols
    USING SAMPLE 0.1 % (BERNOULLI)
""")

        fecha zona_residencia zona_pernoctacion  personas
0    20230701           01036          39001_AM      9448
1    20230701        01047_AM           2807908      6875
2    20230701         0105903          10061_AM      9439
3    20230701         0105904           4802007      6912
4    20230701         0105905          44051_AM      5185
..        ...             ...               ...       ...
602  20230701         5029711          22137_AM     12412
603  20230701         5100104             29075      4609
604  20230701         5100105           0301406      9855
605  20230701         5100106           2906901     16185
606  20230701         5200105           2906709     23444

[607 rows x 4 columns]

In [70]:
con.execute("""
    COPY (
        SELECT
            * EXCLUDE (personas),
            CAST(REPLACE(personas, '.', '') AS INTEGER) AS personas
        FROM read_csv_auto(
            'csvs/20230701_Pernoctaciones_distritos.csv',
            delim = '|',
            columns = {
                'fecha': 'VARCHAR',
                'zona_residencia': 'VARCHAR',
                'zona_pernoctacion': 'VARCHAR',
                'personas': 'VARCHAR'
            }
        ) AS cols
        USING SAMPLE 0.1 % (BERNOULLI)
    ) TO 'parquet/20230701_Pernoctaciones_distritos.parquet' (FORMAT PARQUET);
""")